<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
  $('#menu-toggle').click(function() {
    if($('#top-menu').hasClass('expanded')) {
      $('#top-menu').removeClass('expanded')
      $('#menu-toggle').removeClass('menu-icon-down');

    } else {
      $('#top-menu').addClass('expanded')
      $('#menu-toggle').addClass('menu-icon-down');
    }
  });

  $('#play-iota-sound').click(function() {
    var audioElement = document.createElement('audio');
    audioElement.setAttribute('src', './mp3/iota_en_gb.mp3');

    $(audioElement)[0].play()
  });

  $('.carousel').carousel()
</script>
</body>
</html>