<script src="{{ .Site.BaseURL }}/vendor/jquery/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
  $('#menu-toggle').click(function() {
    if($('#top-menu').hasClass('expanded')) {
      $('#top-menu').removeClass('expanded')
      $('#menu-toggle').removeClass('menu-icon-down');

    } else {
      $('#top-menu').addClass('expanded')
      $('#menu-toggle').addClass('menu-icon-down');
    }
  });

  function copyToClipboard(string) {
  let textarea;
  let result;

  try {
    textarea = document.createElement('textarea');
    textarea.setAttribute('readonly', true);
    textarea.setAttribute('contenteditable', true);
    textarea.style.display = 'fixed'; // prevent scroll from jumping to the bottom when focus is set.
    textarea.style.height = "0px";
    textarea.style.width = "0px";
    textarea.value = string;

    document.getElementById('IOTAButtonContainer').appendChild(textarea);

    textarea.focus();
    textarea.select();

    const range = document.createRange();
    range.selectNodeContents(textarea);

    const sel = window.getSelection();
    sel.removeAllRanges();
    sel.addRange(range);

    textarea.setSelectionRange(0, textarea.value.length);
    result = document.execCommand('copy');
  } catch (err) {
    console.error(err);
    result = null;
  } finally {
    document.getElementById('IOTAButtonContainer').removeChild(textarea);
  }

  // manual copy fallback using prompt
  if (!result) {
    const isMac = navigator.platform.toUpperCase().indexOf('MAC') >= 0;
    const copyHotkey = isMac ? '⌘C' : 'CTRL+C';
    result = prompt(`Press ${copyHotkey}`, string); // eslint-disable-line no-alert
    if (!result) {
      return false;
    }
  }
  return true;
  }



  

  $('#play-iota-sound').click(function() {
    var audioElement = document.createElement('audio');
    audioElement.setAttribute('src', '{{ .Site.BaseURL }}/mp3/iota_en_gb.mp3');

    $(audioElement)[0].play()
  });

  $('.carousel').carousel()
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108530965-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108530965-1');
</script>

</body>
</html>