<script src="{{ .Site.BaseURL }}/vendor/jquery/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
  $('#menu-toggle').click(function() {
    if($('#top-menu').hasClass('expanded')) {
      $('#top-menu').removeClass('expanded')
      $('#menu-toggle').removeClass('menu-icon-down');

    } else {
      $('#top-menu').addClass('expanded')
      $('#menu-toggle').addClass('menu-icon-down');
    }
  });

  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.contentEditable = true;
    $temp.readOnly = false;
    $temp.val($(element).val()).select();
    document.execCommand("copy");
    $temp.remove();
  }

  $('#play-iota-sound').click(function() {
    var audioElement = document.createElement('audio');
    audioElement.setAttribute('src', '{{ .Site.BaseURL }}/mp3/iota_en_gb.mp3');

    $(audioElement)[0].play()
  });

  $('.carousel').carousel()
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108530965-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108530965-1');
</script>

</body>
</html>